/* @import './base.css'; */
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


.body {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font: weight 700px;;
  font: style 500px;;
}
